#paineis-sobre {
	margin-top: 20px;
}

html,
body {
	height: 100%;
}

header {
	background-image: url(../img/castelo.jpg);
	height: 100%;
	background-size: cover;
	background-position: top center;
	position: relative;
}

.topCasaFina-banner {
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	width: 80%;
	border-radius: 8px;
	position: absolute;
	top: 30% ;
    left: 50%;
    transform: translate(-50%, -50%);
	transition: .3s;
}

header h1 {
	margin-top: 0;
	margin-bottom: 0;
}

.titulo-depoimentos {
	background-color: #0275D8;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	color: #FFF;
	margin-bottom: 0;
	font-size: 24px;
}

.contato-select,
.grupo-radio {
	display: inline-block;
	width: 49.2%;
	vertical-align: top;
}

.grupo-radio .radio:first-child {
	margin-top: 0;
}

button {
	display: block;
}

footer {
	background-color: #333;
	color: #FFF;
	padding: 1em;
	margin-top: 10px;
}

footer address:last-child {
	margin-bottom: 0;
}

@media(min-width: 768px) {
	.colunas-2 {
		width: 50%;
		float: left;
	}

	#paineis-sobre {
    	margin-top: 0;
    }
}

/*
@media(min-width: 768px) {
	#paineis-sobre {
		margin-top: 0;	
	}
}
*/
@media(min-width: 992px) {
	.topCasaFina-banner {
		left: 0;
		transform: translate(0, -80%);
		width: 50%;
	}

	.topCasaFina-bannerWrapper {
		position: relative;
		height: 100%;
	}
}


